---
const links = [
	{ url: '/', title: 'Home' },
	{ url: '/about', title: 'About' },
	{ url: '/products', title: 'Products' }
]
---

<nav class="flex h-[50px] absolute top-0 left-0 right-0 bg-gray-400 text-white px-4 items-center justify-between">
	<h2>Astro site</h2>

	<ul class="flex items-center">
		{ links.map(link => <li class="ml-5"><a href={link.url}>{link.title}</a></li>) }
	</ul>
</nav>
